# Core app framework
streamlit>=1.33.0

# Chemistry engine
rdkit>=2025.3.6

# 3D visualization
py3Dmol>=1.8.0

# Data handling
pandas>=2.2.2
numpy>=1.26.0
scipy>=1.13.0

# Plotting (optional for angle graphs or bond length histograms)
matplotlib>=3.8.0

# Type hints and editor support
rdkit-stubs<=0.8
types-reportlab

# PDF generation
reportlab>=4.0.0
fpdf>=1.7.2

# Testing (optional for modular validation)
pytest>=8.2.0
